@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --header-height: 3rem;
  --m-1: 1rem;
  --m-1-2: 1.2rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;

  /* Color Pallete */

  --backgroundColor: linear-gradient(to bottom right, #fbcd38, #fcbb5b);
  --black: #0a0908;
  --white: #f2f4f3;
  --yellow: #f0c808;
  --red: #9b1412;
  --skin: #f9c784;
  --earth: #ff8c42;
  --light: rgb(75, 75, 75);
}

/* ================================================================================== */
/* ================================= Default Values ================================= */
/* ================================================================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--black);
  background: var(--backgroundColor);
  margin: 3rem 0 0 0;
}

.main {
  overflow: hidden;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================================================================================== */
/* ================================ Reusable Classes ================================ */
/* ================================================================================== */

.section {
  padding: 4rem 0 2rem;
}

.container {
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
}

.button {
  background-color: var(--red);
  width: max-content;
  padding: 0.75rem 1rem;
  display: inline-block;
  font-size: 1.25rem;
  color: var(--white);
  border-radius: 0.25rem;
}

.button:hover {
    background-color: var(--black);
}

.section-title {
  font-size: 2rem;
  text-align: center;
  color: var(--red);
  margin-bottom: 3rem;
}


/* ================================================================================== */
/* ================================= Header Section ================================= */
/* ================================================================================== */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  width: 100%;
}

.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.25rem;
}

/* Onclick Menu will work under 767px resolution */
@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0%;

    line-height: 3rem;
    padding: 4rem 0 2rem;
    width: 100%;
    background: var(--backgroundColor);
    transition: 0.4s;
  }
}

.logo {
  text-transform: uppercase;
  color: var(--black);
}

.nav-menu-links {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--light);
  text-align: center;
}

.nav-menu-links:hover {
  color: var(--red);
}

.delivery-contact {
  display: none;
}

.menu-toggle {
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.menu-close {
  position: absolute;
  top: 0rem;
  right: 1.25rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black);
}

.show-menu {
  top: 0;
}

.scroll-header {
  background: var(--backgroundColor);
}

/* ================================================================================== */
/* ================================== Home Section ================================== */
/* ================================================================================== */

.home-container {
  position: relative;
}

.home-img {
  position: absolute;
  width: 250px;
  top: 2rem;
  right: -5rem;
  filter: drop-shadow(2px 2px 10px black);
}

.home-data {
  position: relative;
}

.home-head {
  text-transform: uppercase;
  color: var(--red);
  margin-bottom: 3rem;
  line-height: 2.5rem;
}

.home-title {
  font-size: 4rem;
}

.home-subtitle {
  font-size: 2rem;
}

.home-foot {
  font-size: 1.5rem;
  width: 120px;
}

.home-button {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

/* ================================================================================== */
/* ================================== Menu Section ================================== */
/* ================================================================================== */

.menuSec {
  background-color: var(--white);
  padding-bottom: 4rem;
}

.menu-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
  height: 90px;
}

.menu-head {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.menu-title {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.menu-img {
  width: 120px;
  position: relative;
  right: -2rem;
  filter: drop-shadow(1px 1px 2px black);
}

.menu-description {
    color: rgb(77, 77, 77);
}

.menu-button {
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
}

/* For some images in Menu section */

.width-error {
  width: 120px;
}

/* ================================================================================== */
/* ================================= Qoute Section ================================== */
/* ================================================================================== */

.qoute {
  position: relative;
  background-color: #0a0908;
  height: 100px;
}

.qoute-container {
  background: url(./img/qoute\ background.jpg) center center/cover;
  opacity: .3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.qoute-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--white);
  position: relative;
  top: -4.93rem;
}

/* ================================================================================== */
/* ================================= Event Section ================================== */
/* ================================================================================== */

.event {
  background-color: var(--white);
}

.event-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.event-elements {
  width: 100px;
  font-size: .9rem;
}

.event-img {
  width: 250px;
  position: relative;
}

.main-line {
  height: 2px;
  width: 8rem;
  border-radius: 5px;
  background-color: var(--red);
  margin-block: 1rem;
}

.lines {
  height: 1px;
  width: 6rem;
  border-radius: 5px;
  background-color: rgb(153, 153, 153);
  margin-block: .75rem;
}

.event-button {
  width: 50px;
  height: 50px;
  color: var(--white);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;

  background-color: var(--red);
  border-radius: 5rem;
  padding: 0.65rem;
  font-size: 1rem;
  overflow: hidden;

  position: relative;
  top: -9.5rem;
  left: 8rem;
}

.event-button:hover {
  content: "Book Now";
  width: 150px;
  background-color: var(--black);
}

.event-icon {
  margin-left: .36rem;
}

/* ================================================================================== */
/* ================================ Service Section ================================= */
/* ================================================================================== */

.service {
  background-color: var(--white);
  padding-bottom: 4rem;
}

.service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 6rem; */
}

.service-img {
  width: 200px;
  margin-top: 1rem;
  filter: drop-shadow(1px 1px 1px black);
}

.service-data {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  row-gap: 3rem;
  position: relative;
}

.service-box {
  font-size: .9rem;
  position: relative;
  width: max-content;
}

.service-position {
  right: 2rem;
}

/* ================================================================================== */
/* ============================== Reservation Section =============================== */
/* ================================================================================== */

.reservation {
  padding-bottom: 4rem;
}

.reservation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.form-inputs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#name,
#email,
#phone,
#ticket {
  height: 1.8rem;
  width: 100%;
  border-radius: .15rem;
  padding: .5rem .75rem;
  color: rgb(99, 99, 99);
  font-weight: 500;
}

#phone::placeholder {
  font-size: .75rem;
}

.text-area {
  width: 100%;
  height: 80px;
  border-radius: .15rem;
  padding: .5rem .75rem;
  color: rgb(99, 99, 99);
  font-weight: 500;
}

.label {
  font-size: .986rem;
  font-weight: 500;
  color: var(--black);
  margin-block-end: .25rem;
}

.form-button {
  padding: .7rem 2.15rem;
  border-radius: 3rem;
  font-size: 1.25rem;
}

/* ================================================================================== */
/* ================================= Footer Section ================================= */
/* ================================================================================== */

.footer {
  background-color: var(--red);
  color: var(--white);
  padding: 1rem 0;
}

.footer-logo {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 1rem;
}

.footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;

}

.footer-content {
  margin-top: 2rem;
  margin-bottom: .25rem;
  font-size: .986rem;
  font-weight: 400;
  color: rgb(214, 214, 214);

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  row-gap: .5rem;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  column-gap: .75rem;
}

.footer-menu {
  color: var(--white);
}
.footer-menu:hover {
  color: antiquewhite;
}

.footer-link {
  color: var(--white);
  background-color: #810402;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  padding: .25rem;
  border-radius: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link:hover {
  background-color: #a51714;
}

.footer-copyright {
  margin-top: 3rem;
  text-align: center;
}

.copyright-content {
  color: var(--white);
  font-size: .7rem;
  font-weight: 400;
}

/* ================================================================================== */
/* =================================== Scroll Up ==================================== */
/* ================================================================================== */

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: var(--red);
  border-radius: 5rem;
  padding: 0.45rem;
  opacity: 9;
  z-index: 10;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: black;
  opacity: 1;
}

.scroll-icon {
  color: white;
  font-size: 1.35rem;
}

/* Show Scroll Up */

.show-scroll {
  bottom: 5rem;
}

/* ===================================================================== */
/* ============================ Scroll Bar ============================= */
/* ===================================================================== */

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(65, 65, 65);
}

/* ================================================================================== */
/* ================================= Media Queries ================================== */
/* ================================================================================== */


/* Smaller Devices */
@media screen and (min-width: 280px) {
  
  .menu-box {
    width: 150px;
  }

  .home-foot {
    font-size: 1.6rem;
  }
  
  .home-button {
    font-size: 1rem;
    right: .5rem;
  }
}

@media screen and (min-width: 425px)  {
  .home-img {
    right: -2rem;
    top: 2.5rem;
  }

  .event-img {
    right: -2rem;
  }
  
  .qoute-title {
    margin-left: .25rem;
    margin-right: .25rem;
  }

}

/* Tablet & Ipads*/
@media screen and (min-width: 576px) {

  .home-img {
    width: 350px;
    top: 3rem;
    right: -8rem;
  }

  .home-head {
    line-height: 4rem;
  }

  .home-title {
    font-size: 5rem;
  }

  .home-subtitle {
    font-size: 4rem;
  }

  .home-foot {
    width: 200px;
  }

  .home-button {
    bottom: .75rem;
    right: 17rem;
  }

  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .menu-data {
    justify-content: space-between;
  }

  .menu-img {
    position: static;
  }

  .main-line {
    width: 12rem;
  }

  .event-button {
    left: 13rem;
    top: -11rem;
  }

  .event-container {
    justify-content: space-around;
  }

  .event-img {
    right: -2rem;
    width: 300px;
  }

  .event-elements {
    font-size: 1rem;
  }

  .service-container {
    justify-content: space-around;
  }
  
  .service-box {
    font-size: 1rem;
  }

  .footer-container {
    width: auto;
  }

  .footer-logo {
    margin-top: 1rem;
    margin-left: 1.75rem;
  }

  .qoute-title {
    font-size: 1.5rem;
    top: -4.28rem;
  }
}

/* Medium Devices */
@media screen and (min-width: 767px) {
  .home-container {
    margin-bottom: 1rem;
  }

  .home-head {
    line-height: 4rem;
    margin-bottom: 2rem;
  }

  .home-foot {
    width: 300px;
    margin-bottom: 1rem;
  }

  .home-button {
    position: static;
  }

  .home-img {
    width: 400px;
    right: -3rem;
    top: -1rem;
  }
  .event-button {
    left: 15rem;
  }

  .event-img {
    right: -3rem;
  }

  .qoute-title {
    font-size: 1.5rem;
    top: -4.3rem;
  }

  .footer-container {
    width: auto;
  }

  .footer-logo {
  margin-top: 2rem;
    margin-left: 2rem;
  }
}

/* Large Devices */
@media screen and (min-width: 1024px) {
  .nav-menu {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  .nav-menu-links {
    font-size: 1rem;
  }

  .menu-toggle {
    display: none;
  }

  .menu-close {
    display: none;
  }

  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .home-img {
    width: 450px;
    top: -3rem;
    right: 1rem;
  }

  .menu-container {
    width: auto;
  }

  .menu-box {
    justify-content: space-around;
  }

  .event-elements {
    font-size: 1.25rem;
  }

  .event-img {
    width: 350px;
  }

  .event-button {
    left: 22rem;
    top: -12.5rem;
  }

  .service-img {
    width: 250px;
  }

  .service-box {
    font-size: 1.25rem;
  }

  .form {
    width: 600px;
  }

  .footer-container {
    width: auto;
  }

  .footer-logo {
    margin-top: 2rem;
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .nav-menu {
    column-gap: 2rem;
  }
  
  .home-data {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .home-head {
    margin-bottom: 1rem;
    line-height: 6rem;
  }

  .home-title {
    font-size: 8rem;
  }

  .home-subtitle {
    font-size: 7rem;
  }


  .home-foot {
    position: relative;
    left: 1rem;
    font-size: 1.3rem;
    width: auto;
    border: 2px dashed var(--red);
    padding: .75rem 1rem;
  }

  .main-line {
    width: 16rem;
  }

  .event-button {
    left: 33rem;
  }

  .service-position {
    right: 5rem;
  }

  .footer-logo {
    margin-left: 6rem;
  }
}
